:root {
    --brand-color: #8ec1d6;
    --dark-color: #475569;
    --mid-color: #cbd5e1;
    --light-color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Lobster&family=Merriweather:wght@700&family=Outfit&family=Roboto+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-color);
    height: 100vh;
}

/*  Utility Classes */

.active {
    color: var(--light-color);
    font-weight: bolder;
    border-bottom: 2px solid var(--mid-color);
}

/* Nav bar */
nav {
    background-color: var(--brand-color);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.3em;
}

nav ul li {
    margin: 0 0.5em;
}

nav a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.1em;
    font-family: 'Roboto Serif', serif;
    letter-spacing: 0.02em;
}

nav a:hover {
    color: var(--light-color);
    font-weight: bolder;
    border-bottom: 2px solid var(--mid-color);
}

/* Header */
header {
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;
    justify-content: center;
}

.header__home--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* * {
    border: 1px solid red;
} */

.header__home--info h2 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 10px #a4d3e7;
    color: #475569;
    margin: 0;
}
.header__home--info p {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: left;
    border-bottom: 2px solid var(--mid-color);
    color: #475569;
    margin: 0;
}

.header__home--hero {
    width: 100%;
    max-width: 420px;
    min-width: 150px;
}

/* Main */
main {
    height: 90vh;
}

/* Footer */
footer {
    background-color: var(--mid-color);
    text-align: center;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.5em 0;
    color: black;
}
footer a {
    padding: 0.5em;
    font-size: 2rem;
    color: var(--dark-color);
}

footer a:hover {
    color: var(--light-color);
}

/* media queries */
@media screen and (max-width: 320px) {
    body {
        /* background-color:  */
    }
}
